/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss";

:root { --accent: #22d3ee;}
body {
  background-color: #1a202c; /* Replace with your dark color */
  color: #f8fafc;            /* Replace with your light color */
  font-family: 'Inter', sans-serif; /* Replace with your desired font */
}