/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss";

@theme {
  --color-dark: #222831;
  --color-light: #f8fafc;
  --color-accent: #22d3ee;
  --color-primary: #00ADB5;
}

:root { --accent: #22d3ee;}

body {
  font-family: 'Inter', sans-serif;
}